# Global
.DS_Store

# Java backend
film-rest-api/bin/
film-rest-api/build/
film-rest-api/.classpath
film-rest-api/.project
film-rest-api/.settings/

# Node frontend
film-web-app/node_modules/
film-web-app/.env
film-web-app/dist/

# Logs and system files
*.log
